body{
  font-family: Arial, Helvetica, sans-serif;
}
.bar {
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid black;
}
.mainBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.mainBar div,
.signIn div {
  margin: 10px;
}
p{
  font-size: smaller;
}
.Register{
  padding: 10px;
  background: orangered;
  color: white;
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 300px;
}
h1,h4,span{
font-weight: bold;
}
.learnMore{
  background: black;
  color: aliceblue;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}
.infoMain{
  max-width: 500px;
  cursor: pointer;
}
.booking-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 200px;
}

.booking-option {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.option-icon {
  font-size: 24px;
  margin: 10px;
  color: #3498db;
}
.h3{
  margin-left: 150px;
}

.option-text {
  font-size: 18px;
}
.option{
  margin-top: 10px;
  border: none;
  color: gray;
}
.searchButton,
.searchButton1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #333;
}
.RentalInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.RentalInfoMain{
  display: flex;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.info img{
  max-width: 100px;
}
.info p {
  text-align: center;
  max-width: 200px;
}

.rent div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rentalModel{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rentalModel button{
  display: flex;
   margin-left: 10px;
}
.ModelCar{
  margin-left: 10vh;
  margin-right: 10vh;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  background-color: #2e3031;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.button:hover {
  background-color: #7c7e80;
  transform: scale(1.1);
}
.info-box{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.box-element {
  padding: 10px;
  margin: 10px;
  color: rgb(8, 8, 8);
  border: 1px solid;
}
.lastInfo{
  margin-top: 300px;
  min-width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
}
.infoText{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 300px;
  max-width: 40%;

}
.infoText button{
  max-width: 30%;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #2e3031;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.infoText button:hover{
  background-color: #7c7e80;
  transform: scale(1.1);
}
.section{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.price{
  width: 100px;
}
.box{
  display: flex;
  align-items: center;
}
.box img{
  margin: 10px;
}
.infoText p{
  max-width: 50%;
}
.box1{
  max-width: 40%;
}
.Reviews{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.reviewInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
  margin-left: 30%;
}
.Review{
  display: flex; 
  align-items: center;
}
.Review img {
  border-radius: 50%; 
  width: 90px; 
  height: 90px; 
  object-fit: cover;
}
.Profile{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Profile img,p,h3{
  margin: 10px;
}
.Review{
  max-width: 50%;
  margin-top: 100px;
}
.section1{
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin-left: 20%;
}
.section1 p{
  max-width: 70%;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border-radius: 5px;
}

.question {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: #000000;
  color: #e0e0e0;
  transition: background-color 0.3s, transform 0.3s; 
}

.question:hover {
  background-color: #161616bb;
}

.answer {
  display: none;
  padding: 10px;
  background: transparent;
  border: 1px solid gray;
  color: rgb(0, 0, 0);
}
.section-end{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
.search-end h6{
  font-weight: bold;
}
.info-box1{
  max-width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-box1 p{
  max-width: 50%;
}
.info-box1 input{
  margin: 10px;
}